<div class="task-list-container">
  <div class="heading">
    <h3>Tasks</h3>
    <div>
      <span class="status-dot in-progress"></span>In Progress
      <span class="status-dot completed"></span>Completed
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- We keep track of this tasks if i order them or change them -->
      <!-- so we are going to track the "task.id" that is unique for each task -->
      @for (task of tasks; track task.id) {
      <tr>
        <td>
          <!-- We bind the class -->
          <!-- if "task.completed" is "true" add the class "completed-task" else do not add any class "" -->
          <label class="{{ task.completed ? 'completed-task' : '' }}">
            <!-- We bind the checked attribute using [] and we bind it to "checked" if the "task.completed" is true -->
            <!-- otherwise we will not check the checkbox if "task.completed" is false -->
            <input
              type="checkbox"
              aria-label="Select task"
              [checked]="task.completed"
              (click)="handleCheckbox(task.id)"
            />{{ task.name }}
          </label>
        </td>
        <td>
          <!-- We bind the class -->
          <!-- if "task.completed" is "true" add the class "completed" else add class "in-progress" -->
          <span class="status-dot {{ task.completed ? 'completed' : 'in-progress' }}"></span>{{ task.completed ?
          'Completed' : 'In Progress' }}
        </td>

        <!-- Without pipe will have this date: "Mon Jul 31 2023 02:00:00 GMT+0200 (Central European Summer Time)"-->
        <!-- With pipe we have this date: "" -->
        <!-- Add DatePipe to the imports inside your component -->
        <!-- pipe means: take this value "task.dueDate" and process it as a "date"
               and then i give you attributes on how i want it to display
               "YYYY-MM-DD"
          -->
        <td>
          {{ task.dueDate | date : "YYYY-MM-dd" }}
        </td>
        <td (click)="updateTask(task)">
          ✏️
        </td>
        <td (click)="deleteTask(task.id)">
          ❌
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="button-container">
    <!-- We bind on click make "showModal" true -->
    <button (click)="showModal = true">Add New Task</button>
  </div>

  <!-- We show modal only if the button is clicked -->
  @if(showModal) {
    <!-- We want to bind to the closePanel event emitter (from inside TaskFormComponent)-->
    <!-- When we receive an event from it we are going to say that our "showModal=false"-->
    <!-- IMPORTANT: to bind them here you need to add "@Output" for "closePanel" inside "TaskFormComponent"-->
    <!-- IMPORTANT: to bind them here you need to add "@Input" for "currentTask" & "formType" inside "TaskFormComponent"-->
    <!-- We bind from the component "[]" the "currentTask" to be the "selectedTask"-->
    <!-- We bind from the component "[]" the "formType" to be the "formType"-->
    <app-task-form
      (closePanel)="showModal = false"
      [currentTask]="selectedTask"
      [formType]="formType"
    ></app-task-form>
  }
</div>
